{% extends "app/layoutnav.html" %}

{% block content %}

<body>

    <div class="fulid-container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="min-height: 350px">
                    <h3>D</h3>
                    <div id="first" style="width: 100%;height:300px;"></div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="min-height: 350px">
                    <h3>D</h3>
                    <div id="second" style="width: 100%;height:300px;"></div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="min-height: 350px">
                    <h3>C</h3>
                    <div id="third" style="width: 100%;height:300px;"></div>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card" style="min-height: 350px">
                    <h3>D</h3>
                    <div id="forth" style="width: 100%;height:300px;"></div>
                    
                </div>
            </div>
            
            
        </div>
    
        <div class="row">
            <div class="col-lg-8 col-md-6 col-sm-6">
                <div class="card" style="min-height: 350px">
                    <div id="fifth" style="width: 100%;height:400px;"></div>
                </div>
            </div>
    
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card" style="min-height: 350px">
                    <div id="sixth" style="width: 100%;height:400px;"></div>
                </div>
            </div>
    
        </div> 

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card" style="min-height: 350px">
                    <h3>D</h3>
                    <div id="seventh" style="width: 100%;height:400px;"></div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card" style="min-height: 350px">
                    <h3>D</h3>
                    <div id="eighth" style="width: 100%;height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    


    <div id="first" style="width: 400px; height: 400px;"></div>
    <div id="second" style="width: 600px; height: 400px;"></div>
    <div id="third" style="width: 600px; height: 400px;"></div>
    <div id="forth" style="width: 600px; height: 400px;"></div>
    <div id="fifth" style="width: 1000px; height: 350px;"></div>
    <div id="sixth" style="width: 400px; height: 400px;"></div>
    <div id="seventh" style="width: 1000px; height:400px;"></div>
    <div id="eighth" style="width: 400px; height: 400px;"></div>

    


{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function navset() {
        var navs = document.getElementById("predict")
        var navsin = document.getElementById("detail_predict")
        navs.setAttribute("class", "active")
        navsin.setAttribute("class", "active")
    }
    window.onload = navset();
</script>

<script type="text/javascript">
    var chartDom = document.getElementById('first');
    var myChart = echarts.init(chartDom);
    var option;

    option = {
       xAxis: {
       type: 'category',
       data: ['a', 'b', 'c', 'd', 'e', 'f', 'g']
        },
    yAxis: {
       type: 'value'
        },
    series: [{
      data: [150, 230, 224, 218, 135, 147, 260],
    type: 'line'
        }]

    
};
    window.onresize = function () { myChart.resize(); }
    // 使用刚指定的配置项和数据显示图表。
    option && myChart.setOption(option);

</script>
 
<script type="text/javascript">
    var chartDom = document.getElementById('second');
    var myChart = echarts.init(chartDom);
    var option;

option = {
   xAxis: {
   type: 'category',
   data: ['a', 'b', 'c', 'd', 'e', 'f', 'g']
    },
yAxis: {
   type: 'value'
    },
series: [{
  data: [150, 230, 224, 218, 135, 147, 260],
type: 'line'
    }]


};
window.onresize = function () { myChart.resize(); }
// 使用刚指定的配置项和数据显示图表。
option && myChart.setOption(option);
</script>

<script type="text/javascript">
var chartDom = document.getElementById('third');
var myChart = echarts.init(chartDom);
var option;

option = {
xAxis: {
type: 'category',
data: ['a', 'b', 'c', 'd', 'e', 'f', 'g']
},
yAxis: {
type: 'value'
},
series: [{
data: [150, 230, 224, 218, 135, 147, 260],
type: 'line'
}]


};
window.onresize = function () { myChart.resize(); }
// 使用刚指定的配置项和数据显示图表。
option && myChart.setOption(option);
</script>

<script type="text/javascript">
var chartDom = document.getElementById('forth');
var myChart = echarts.init(chartDom);
var option;

option = {
xAxis: {
type: 'category',
data: ['a', 'b', 'c', 'd', 'e', 'f', 'g']
},
yAxis: {
type: 'value'
},
series: [{
data: [150, 230, 224, 218, 135, 147, 260],
type: 'line'
}]


};
window.onresize = function () { myChart.resize(); }
// 使用刚指定的配置项和数据显示图表。
option && myChart.setOption(option);
</script>

<script type="text/javascript">
var chartDom = document.getElementById('fifth');
var myChart = echarts.init(chartDom);
var option;
option = {
title: {
    text: '折线图堆叠'
},
tooltip: {
    trigger: 'axis'
},
legend: {
    data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
},
grid: {
    left:'3%',
    right:'4%',
    bottom:'3%',
    containLabel: true
},
toolbox: {
    feature: {
        saveAsImage: {}
    }
},
xAxis: {
    type: 'category',
    boundaryGap: false,
    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
},
yAxis: {
    type: 'value'
},
series: [
    {
        name: '邮件营销',
        type: 'line',
        stack: '总量',
        data: [120, 132, 101, 134, 90, 230, 210]
    },
    {
        name: '联盟广告',
        type: 'line',
        stack: '总量',
        data: [220, 182, 191, 234, 290, 330, 310]
    },
    {
        name: '视频广告',
        type: 'line',
        stack: '总量',
        data: [150, 232, 201, 154, 190, 330, 410]
    },
    {
        name: '直接访问',
        type: 'line',
        stack: '总量',
        data: [320, 332, 301, 334, 390, 330, 320]
    },
    {
        name: '搜索引擎',
        type: 'line',
        stack: '总量',
        data: [820, 932, 901, 934, 1290, 1330, 1320]
    }
]


};
window.onresize = function () { myChart.resize(); }
// 使用刚指定的配置项和数据显示图表。
option && myChart.setOption(option);
</script>

<script type="text/javascript">
var chartDom = document.getElementById('sixth');
var myChart = echarts.init(chartDom);
var option;

option = {
tooltip: {
    trigger: 'item'
},
legend: {
    top: '5%',
    left: 'center'
},
series: [
    {
        name: '访问来源',
        type: 'pie',
        radius: ['40%', '70%'],
        avoidLabelOverlap: false,
        itemStyle: {
            borderRadius: 10,
            borderColor: '#fff',
            borderWidth: 2
        },
        label: {
            show: false,
            position: 'center'
        },
        emphasis: {
            label: {
                show: true,
                fontSize: '40',
                fontWeight: 'bold'
            }
        },
        labelLine: {
            show: false
        },
        data: [
            {value: 1048, name: '搜索引擎'},
            {value: 735, name: '直接访问'},
            {value: 580, name: '邮件营销'},
            {value: 484, name: '联盟广告'},
            {value: 300, name: '视频广告'}
        ]
    }
]
};

    window.onresize = function () { myChart.resize(); }
    // 使用刚指定的配置项和数据显示图表。
    option && myChart.setOption(option);


   </script>
<script type="text/javascript">
    var chartDom = document.getElementById('seventh');
    var myChart = echarts.init(chartDom);
    var option;
option = {
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            crossStyle: {
                color: '#999'
            }
        }
    },
    toolbox: {
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    legend: {
        data: ['蒸发量', '降水量', '平均温度']
    },
    xAxis: [
        {
            type: 'category',
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            axisPointer: {
                type: 'shadow'
            }
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: '水量',
            min: 0,
            max: 250,
            interval: 50,
            axisLabel: {
                formatter: '{value} ml'
            }
        },
        {
            type: 'value',
            name: '温度',
            min: 0,
            max: 25,
            interval: 5,
            axisLabel: {
                formatter: '{value} °C'
            }
        }
    ],
    series: [
        {
            name: '蒸发量',
            type: 'bar',
            data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
        },
        {
            name: '降水量',
            type: 'bar',
            data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
        },
        {
            name: '平均温度',
            type: 'line',
            yAxisIndex: 1,
            data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
        }
    ]
};
window.onresize = function () { myChart.resize(); }
// 使用刚指定的配置项和数据显示图表。
option && myChart.setOption(option); 
   </script>

<script type="text/javascript">
    var chartDom = document.getElementById('eighth');
    var myChart = echarts.init(chartDom);
    var option;
option = {
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'cross',
            crossStyle: {
                color: '#999'
            }
        }
    },
    toolbox: {
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    legend: {
        data: ['蒸发量', '降水量', '平均温度']
    },
    xAxis: [
        {
            type: 'category',
            data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
            axisPointer: {
                type: 'shadow'
            }
        }
    ],
    yAxis: [
        {
            type: 'value',
            name: '水量',
            min: 0,
            max: 250,
            interval: 50,
            axisLabel: {
                formatter: '{value} ml'
            }
        },
        {
            type: 'value',
            name: '温度',
            min: 0,
            max: 25,
            interval: 5,
            axisLabel: {
                formatter: '{value} °C'
            }
        }
    ],
    series: [
        {
            name: '蒸发量',
            type: 'bar',
            data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
        },
        {
            name: '降水量',
            type: 'bar',
            data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
        },
        {
            name: '平均温度',
            type: 'line',
            yAxisIndex: 1,
            data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
        }
    ]
};
window.onresize = function () { myChart.resize(); }
// 使用刚指定的配置项和数据显示图表。
option && myChart.setOption(option);
   </script>
</body>  
{% endblock %}