{% extends "app/layoutnav.html" %}

{% block content %}

<body>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="content">
                            <div class="row">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function navset() {
        var navs = document.getElementById("analysis")
        var navsin = document.getElementById("subject_analysis")
        navs.setAttribute("class", "active")
        navsin.setAttribute("class", "active")
    }
    window.onload = navset();
</script>
{% endblock %}